<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--配置别名-->
    <typeAliases>
        <typeAlias alias="User" type="forum.domain.User"/>
        <typeAlias alias="Board" type="forum.domain.Board"/>
        <typeAlias alias="UserLoginLog" type="forum.domain.UserLoginLog"/>
        <typeAlias alias="Post" type="forum.domain.Post"/>
        <typeAlias alias="Reply" type="forum.domain.Reply"/>
    </typeAliases>
</configuration>